<div>
  <button class="rate-btn btn-open-rate-box" data-is-rated="true" data-row-id=<%= id %>>
    <i class="fas fa-star fa-lg full-star"></i>
  </button>
  <span class="my-vote" data-vote-id=<%= vote.id %> data-row-id=<%= id %>><%= vote.rating %></span>
</div>