<nav>
  <div class="main-nav">
    <div class="left">
      <a href=<%= root_path %>>
        <div class="logo-main"></div>
      </a>
    </div>
    <div class="right">
      <div class="user-box">
        <%= user_box %>
      </div>
    </div>
  </div>
</nav>