<div class="auth-cont">
  <header class="header">
    <div class="header-cont">
      <div class="logo"></div>
    </div>
  </header>
  <main class="auth-main">
    <%= error_messages(model: @user, flash: flash[:alert]) %>
    <div class="auth-main-cont border">
      <%= auth_form_for form_type %>
    </div>
    <div class="divider"></div>
  </main>
  <footer class="auth-footer pb-4">
    <div class="auth-footer-cont">
      <span>© 1996-2021, Amazon.com, Inc. or its affiliates </span>
    </div>
  </footer>
</div>